{% extends 'layout/layout-with-sidebar.html.twig' %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                
                {{ form_start(form, {'attr':{'novalidate':'novalidate', 'id':'newUser'}}) }}
                    <div class="col-md-6">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="#" id="userAvatar">
                                    {% if user.avatar is not null %}
                                        <img class="img" src="{{ avatarDir ~ asset(user.avatar) }}" />
                                    {% else %}
                                        <img class="img" src="{{ asset('img/no-avatar.png') }}" />
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-content text-left">
                                <div class="form-group label-floating">
                                    {{ form_row(form.firstname) }}
                                </div>
                                <div class="form-group label-floating">
                                    {{ form_row(form.lastname) }}
                                </div>
                                <div class="form-group label-floating">
                                    {{ form_row(form.birthday, {'id':'birthdayField'}) }}
                                </div>
                                <div class="form-group label-floating">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                        </div>

                        <div class="card card-group">
                            <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">account_circle</i>
                            </div>
                            <div class="card-content">
                                <a href="#" class="btn btn-rose btn-fill pull-right" id="addGroup" data-path="{{ path('user_group_new') }}" data-target="card-group">Add New Role</a>
                                <div class="card-title"><h4>Role</h4></div>
                                <label>Choose a Role below or create a new one</label>
                                <select class="selectpicker show-menu-arrow dropup" data-style="select-with-transition" multiple title="" data-style="btn-primary" data-size="8">
                                    {% for group in groups %}
                                        <option value="{{ group.id }}" {% if group.id in userRoleIds %}selected{% endif %}>{{ group.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">location_on</i>
                            </div>
                            <div class="card-content">
                                <div class="card-title"><h4>Address</h4></div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Address finder</label>
                                    <input id="autocomplete" placeholder="" onFocus="geolocate()" type="text" class="form-control"></input>
                                </div>
                                <div class="form-group label-floating address-details hidden">
                                    {{ form_row(form.address1, {'id':'route'}) }}
                                </div>
                                <div class="form-group label-floating address-details hidden">
                                    {{ form_row(form.address2, {'id':'locality'}) }}
                                </div>
                                <div class="form-group label-floating address-details hidden">
                                    {{ form_row(form.city, {'id':'administrative_area_level_2'}) }}
                                </div>
                                <div class="form-group label-floating address-details hidden">
                                    {{ form_row(form.postcode, {'id':'postal_code'}) }}
                                </div>
                                <div class="form-group label-floating address-details hidden">
                                    {{ form_row(form.country, {'id':'country'}) }}
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-info"><i class="material-icons">save</i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <input type="hidden" name="roles" value="">
                    {{ form_widget(form.avatarInput, {'id':'userAvatarInput'}) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyBa-EoKvIrYujWkDHYZH4Bq1sR_EajCY&libraries=places&callback=initAutocomplete" async defer></script>
    <script type="text/javascript">
        
        script.initFormExtendedDatetimepickers("{{ user.birthday }}");

        function setFormValidation(id) {
            $(id).validate({
                errorPlacement: function(error, element) {
                    $(element).parent('div').addClass('has-error');
                }
            });
        }

        $(document).ready(function() {
            setFormValidation('#newUser');
        });

        // << User Avatar
        var userAvatar  = $('#userAvatar'),
            avatarInput = $('input#userAvatarInput');
        
        userAvatar.click(function(e) {
            e.preventDefault();
            avatarInput.trigger('click');
        });
        // >> User Avatar

        // Add a group
        var addGroup   = $('#addGroup'),
            roles      = $('input[name=roles]');

        $('.selectpicker').on('changed.bs.select', function(e) {
            roles.val($(this).val());
        });

        addGroup.click(function(e) {
            var target  = $(this).data('target'),
                path    = $(this).data('path');

            var message                         = [];
                message['title']                = 'Adding a Role';
                message['success']              = 'role successfully added';
                message['confirmButtonText']    = 'Add Group'

            script.showSwal('input-field', path, target, message);
        });

        var birthdayField = $('#birthdayField');
        birthdayField.on('blur', function() {
            setTimeout(function(){
                birthdayField.closest('.form-group').addClass('is-focused');
            },1);
        });
        

        // Google maps autocomplete
        var placeSearch, autocomplete;
          var componentForm = {
            //street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            //administrative_area_level_1: 'short_name',
            administrative_area_level_2: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
          };

          function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
          }

          function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
              document.getElementById(component).value = '';
              document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
              var addressType = place.address_components[i].types[0];
              if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                $('.address-details').removeClass('hidden');
                $('#'+addressType).closest('.form-group').addClass('is-focused');
              }
            }
          }

          // Bias the autocomplete object to the user's geographical location,
          // as supplied by the browser's 'navigator.geolocation' object.
          function geolocate() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                  center: geolocation,
                  radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
              });
            }
          }

    </script>
{% endblock %}

{#}
    <h1>User creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('member_index') }}">Back to the list</a>
        </li>
    </ul>

{#}