{% extends 'user/template/blank.html.twig' %}

{% block mainContent %}
<div class="all-wrapper no-menu-wrapper">
  <div class="login-logo-w">
    <a href="index.html" class="logo">
      <i class="icon-cloud-download"></i>
      <span>Login</span>
    </a>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">

            {% if error %}
              <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
              </div>
            {% endif %}

            {{ form_start(form) }}
              <h3 class="form-title form-title-first"><i class="icon-lock"></i>Login</h3>
              <div class="form-group">
                {{ form_row(form._username) }}
              </div>
              <div class="form-group">
                {{ form_row(form._password) }}
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Remember me
                  </label>
                </div>
              </div>
              <a href="{{ path('security_register') }}" class="btn btn-default btn-lg"><i class="fa fa-pencil"></i> Register</a>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-sign-in"></i> Sign in</button>
              </div>

            {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}