{% extends 'user/template/blank.html.twig' %}

{% block mainContent %}
<div class="all-wrapper no-menu-wrapper">
  <div class="login-logo-w">
    <a href="index.html" class="logo">
      <i class="icon-cloud-download"></i>
      <span>Register</span>
    </a>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">

            {{ form_start(form) }}
              <h3 class="form-title form-title-first"><i class="icon-lock"></i> Register Form</h3>

             <div class="form-group">
                 {{ form_row(form.firstname) }}
             </div>
             <div class="form-group">
                 {{ form_row(form.lastname) }}
             </div>
             <div class="form-group">
                 {{ form_row(form.email) }}
             </div>
             <div class="form-group">
                 {{ form_row(form.plainPassword.first) }}
             </div>
             <div class="form-group">
                 {{ form_row(form.plainPassword.second) }}
             </div>
              <a href="{{ path('security_login') }}" class="btn btn-default btn-lg"><i class="fa fa-sign-in"></i> Sign in</a>
              <div class="pull-right">
                <button class="btn btn-info btn-lg" type="submit"><i class="fa fa-pencil"></i> Register</button>
              </div>

            {{ form_end(form) }}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}