{% set parentRoute  = null %}
{% set childRoute   = null %}

{% if route.parentRoute is defined %}
    {% set parentRoute = route.parentRoute %}
{% endif %}
{% if route.childRoute is defined %}
    {% set childRoute = route.childRoute %}
{% endif %}

<div class="sidebar" data-background-color="brown" data-active-color="danger">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            CT
        </a>

        <a href="#" class="simple-text logo-normal">
            TodosLibre
        </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="info">
                <div class="photo">
                    <img src="{{ asset('img/faces/face-2.jpg') }}" />
                </div>

                <a data-toggle="collapse" href="overview.html#collapseExample" class="collapsed">
                    <span>
                        Chet Faker
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse" id="collapseExample">
                    <ul class="nav">
                        <li>
                            <a href="overview.html#profile">
                                <span class="sidebar-mini">Mp</span>
                                <span class="sidebar-normal">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="overview.html#edit">
                                <span class="sidebar-mini">Ep</span>
                                <span class="sidebar-normal">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="overview.html#settings">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li {% if route is defined and route == 'user_dashboard' %}class="active"{% endif %}>
                <a data-toggle="collapse" href="{{ path('user_dashboard') }}" aria-expanded="true">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li {% if parentRoute == 'browse' %}class="active"{% endif %}>
                <a href="{{ path('browse') }}">
                    <i class="ti-search"></i>
                    <p>Browse</p>
                </a>
            </li>
            <li {% if parentRoute == 'item' %}class="active"{% endif %}>
                <a data-toggle="collapse" href="#itemsDrop" aria-expanded="true">
                    <i class="ti-gift"></i>
                    <p>Items
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse {% if parentRoute == 'item' %}in{% endif %}" id="itemsDrop">
                    <ul class="nav">
                        <li {% if childRoute == 'item_new' %}class="active"{% endif %}>
                            <a href="{{ path('item_new') }}">
                                <span class="sidebar-mini">AI</span>
                                <span class="sidebar-normal">Add Item</span>
                            </a>
                        </li>
                        <li {% if childRoute == 'item_index' %}class="active"{% endif %}>
                            <a href="{{ path('item_index') }}">
                                <span class="sidebar-mini">A</span>
                                <span class="sidebar-normal">Active</span>
                            </a>
                        </li>
                        <li {% if childRoute == 'item_received' %}class="active"{% endif %}>
                            <a href="{{ path('item_received') }}">
                                <span class="sidebar-mini">R</span>
                                <span class="sidebar-normal">Received</span>
                            </a>
                        </li>
                        <li {% if childRoute == 'item_given' %}class="active"{% endif %}>
                            <a href="{{ path('item_given') }}">
                                <span class="sidebar-mini">G</span>
                                <span class="sidebar-normal">Given</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#messagesDrop" aria-expanded="true">
                    <i class="ti-comments"></i>
                    <p>Messages
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="messagesDrop">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">I</span>
                                <span class="sidebar-normal">Inbox</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">S</span>
                                <span class="sidebar-normal">Sent</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#reviewsDrop" aria-expanded="true">
                    <i class="ti-write"></i>
                    <p>Reviews
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="reviewsDrop">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">G</span>
                                <span class="sidebar-normal">Given</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">R</span>
                                <span class="sidebar-normal">Received</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#reviewsDrop" aria-expanded="true">
                    <i class="ti-heart"></i>
                    <p>Requests</p>
                </a>
            </li>
        </ul>
    </div>
</div>