{% extends 'template/blank.html.twig' %}

{% block mainContent %}
	<div class="wrapper wrapper-full-page">
        <div class="full-page login-page" data-color="" data-image="{{ asset('img/background/background-2.jpg') }}">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            {{ form_start(form) }}
                                <div class="card" data-background="color" data-color="blue">
                                    <div class="card-header">
                                        <h3 class="card-title">Login</h3>
                                    </div>
                                    <div class="card-content">
                                        <div class="form-group">
                                            {{ form_label(form._username) }}
                                            {{ form_widget(form._username) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form._password) }}
                                            {{ form_widget(form._password) }}
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-fill btn-wd ">Let's go</button>
                                        <div class="forgot">
                                            <a href="login.html#pablo">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        	<footer class="footer footer-transparent">
                <div class="container">
                    <div class="copyright">
                        &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="#">Shann</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
{% endblock %}