{# For public items #}
{% extends 'template/base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('libs/slimbox/css/slimbox2.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('libs/izimodal/css/iziModal.min.css') }}">
{% endblock %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block  mainContent %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">

					{% if app.session.flashBag.has('success') %}
						<div class="alert alert-success">
							{% for msg in app.session.flashBag.get('success') %}
								{{ msg }}
							{% endfor %}
						</div>
					{% endif %}

                    <div class="card">
                        <div class="card-header">
                        	<h4 class="card-title">Latest Items</h4>
                            <p class="category">A list of latest free items</p>
                            <hr>
                        </div>
                        <div class="card-content">

                        	{% if pagination.getTotalItemCount %}
	                        		<div class="row">
                        		{% for item in pagination %}
										<div class="col-sm-6 col-md-4">
											<div class="thumbnail">
												{% for img in item.images %}
													{% if loop.index == 1 %}
														<a href="{{ img.wideImage }}" rel="lightbox-item{{ item.id }}">
															<img src="{{ img.imageThumb }}" alt="...">
														</a>
													{% else %}
														<a href="{{ img.wideImage }}"  rel="lightbox-item{{ item.id }}" class="hidden">
															<img src="{{ img.imageThumb }}" alt="...">
														</a>
													{% endif %}
													{% if loop.last %}
														<span class="label label-warning item-image-total">{{ item.images|length }}</span>
														<div class="caption">
															<div class="caption-title">
																<strong>{{ item.name|truncate(80) }}</strong>
															</div>
															<p>
																<a href="#" class="btn btn-danger" role="button"><i class="fa fa-heart"></i></a> 
																<a href="#" class="btn btn-success sendMsg" 
																	data-id="{{ item.id }}" 
																	data-userid="{{ item.user.id }}"
																	data-firstname="{{ item.user.firstname }}"
																	data-itemname="{{ item.name }}"
																	role="button"><i class="fa fa-comment"></i></a>
															</p>
														</div>
													{% endif %}
												{% endfor %}
											</div>
										</div>
								{% endfor %}
									</div>
	                        {% else %}
	                        	<div class="text-danger">There are no active items yet.  Please try again later.</div>
	                        {% endif %}
						</div>
                    </div>
                </div>
			</div>
		</div>
	</div>

{% endblock %}

{% block modals %}
	<div id="modalMessage">
		<div class="message-box">
			<form id="messageForm" class="text-right">
				<div class="form-group">
					<p class="text-left">
						<label>Type your message below</label>
					</p>
					<textarea name="message" id="messageContent" class="form-control" rows="5"></textarea>
				</div>
				<div class="form-group">
					<p class="text-right">
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button id="sendMyMessage" class="btn btn-success" type="submit"><i class="fa fa-main-forward"></i> Send Message</button>
					</p>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('libs/slimbox/js/slimbox2.js') }}"></script>
	<script type="text/javascript" src="{{ asset('libs/izimodal/js/iziModal.min.js') }}"></script>
	<script type="text/javascript">
		$(function() {
			
			var modalMessage 	= $('#modalMessage'),
				sendMsg      	= $('.sendMsg'),
				sendMyMessage	= $('#sendMyMessage'),
				recipientName 	= null,
				postItemId 		= 0,
				recipientId 	= 0;

			modalMessage.iziModal({
				icon 	: 'fa fa-comments'
			});

			sendMsg.click(function(e) {

				var content = $('#messageContent');
				content.val('');

				var userId    = $(this).data('userid'),
					firstname = $(this).data('firstname'),
					itemname  = $(this).data('itemname'),
					itemId 	  = $(this).data('id');

				modalMessage.iziModal('setTitle', 'Send message to : '+ firstname);
				modalMessage.iziModal('setSubtitle', 'Item : ' + itemname);

				recipientName 		= firstname;
				recipientId 		= userId;
				postItemId 			= itemId;

				modalMessage.iziModal('open');
			});

			$('#messageForm').submit(function(e) {
				e.preventDefault();

				swal({
					title 				: "Sending message!",
					imageUrl 			: "{{ asset('img/loader.gif') }}",
					showConfirmButton 	: false,
					showCancelButton 	: true
				});

				var content = $(this).find('#messageContent').val();

				if (content == '') {
					swal({
						title 		: 'Message Empty!',
						text 		: 'Please write something..',
						type 		: 'error'
					});

					return false;
				}

				$.post("{{ path('message_new') }}", {recipientid:recipientId,itemid:postItemId,msg:content}, function(data) {
					swal({
						title 		: data.title,
						text 		: data.text,
						type 		: data.error ? 'error' : 'success',
						html 		: true
					}, function(e) {
						if (data.success) {
							modalMessage.iziModal('close');
						}
					});
				})
				.fail(function(xhr, status, response) {
					
				});
			});

		});
	</script>
{% endblock %}