{% extends 'template/base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block  mainContent %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				{{ form_start(form, {'attr':{'id':'newItemFormValidation', 'novalidate':''}}) }}
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Photos</h4>
								<hr>
							</div>
							<div class="card-content table-responsive">
								<table class="table table-striped files {% if item is not defined %}hidden{% endif %}" id="previews">
									{% if item is defined %}
										{% for i in item.images if item.images|length %}
											<tr id="{{ i.id }}">
												<td>
													<img src="{{ asset(item.imagePath) ~ i.thumb }}" alt="">
												</td>
												<td>
													<span class="title">{{ i.originalName }}</span>
													<span class="size"></span>
												</td>
												<td>
													<a href="#" class="btn btn-danger btn-simple js-delete" data-id="{{ i.id }}">
														<i class="ti-trash"></i>
													</a>
												</td>
											</tr>
										{% endfor %}
									{% endif %}
									<tfoot></tfoot>
								</table>
								<div class="form-group text-right">
									{{ form_row(form.photos, {id:'photos'}) }}
									<input type="hidden" name="bucketlist" id="bucketlist" value="">
									<button class="btn btn-primary hidden" id="addPhotosBtn">Add Photos</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Description</h4>
								<hr>
							</div>
							<div class="card-content">
								<div class="form-group">
									{{ form_row(form.name) }}
								</div>
								<div class="form-group">
									{{ form_row(form.description) }}
								</div>
								<div class="form-group">
									{{ form_row(form.status) }}
								</div>
							</div>
							<hr>
							<div class="card-footer">
								<button type="submit" class="btn btn-info btn-fill pull-right"><i class="fa fa-floppy-o"></i> Save Item</button>
								<div class="clearfix"></div>
							</div>
                    	</div>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/ckeditor/ckeditor.js') }}"></script>
	<script src="{{ asset('js/jquery.validate.min.js') }}"></script>
	<script type="text/javascript">
		$(function() {
			$('#newItemFormValidation').validate();

			var fileInput 		= $('input[type=file]'),
				addPhotosBtn	= $('#addPhotosBtn'),
				previewTable 	= $('#previews'),
				itemForm 		= $('#newItemFormValidation'),
				newFileObj 		= $('#photos'),
				bucketList 		= [],
				errors 			= [],
				errorType 		= null,
				fileLimit 		= 6;

			var addPhotosBtn = $('#addPhotosBtn');
			addPhotosBtn.removeClass('hidden');

			var maximumError = 'Maximum number of allowed photos reached!';

			addPhotosBtn.click(function(e) {
				e.preventDefault();

				if (bucketList.length >= fileLimit) {
					swal({
						title 	: 'Limit Reached',
						text 	: maximumError,
						type 	: 'error'
					});
					return false;
				}

				$cloneFileObj = newFileObj.clone();
				itemForm.append($cloneFileObj);

				$cloneFileObj.trigger('click');

				$cloneFileObj.on('change', function(e) {
					$('tfoot').empty();

					for (i=0; i < this.files.length; i++) {

						if ($.inArray(this.files[i].name, bucketList) > -1) {
							errors.push(this.files[i].name);
							errorType = 'duplicate';
							continue;
						}

						if (bucketList.length >= fileLimit) {
							errorType = 'limit';
							break;
						}

						var randomId = Math.floor(Math.random()*1E16);

						if (previewTable.hasClass('hidden')) {
							previewTable.removeClass('hidden');
						}
						var previewRow = $('<tr/>', {id:randomId})
							.append($('<td/>')
								.append($('<img/>', {src:'#'}))
							)
							.append($('<td/>')
								.append($('<span/>', {class:'title'}))
								.append($('<br/>'))
								.append($('<span/>', {class:'size'}))
							)
							.append($('<td/>', {class:'td-actions '})
								.append($('<a/>',{class:'btn btn-danger btn-simple js-delete','data-id':randomId, 'data-file':this.files[i].name})
									.append($('<i/>',{class:'ti-trash'}))
								)
							);
						previewTable.prepend(previewRow);

						readURL(this.files[i], randomId);
					}

					if (this.files.length > fileLimit) {
						errors.push(maximumError);
						errorType = 'limit';
					}

					var jsDelete = $('.js-delete');
					jsDelete.click(function(e) {
						e.preventDefault();

						var id 		= $(this).data('id'),
							file 	= $(this).data('file');

						removeRowImage(id, file);
					});

					if (errors.length > 0) {
						var errorsAsTxt 	= errors.join(',');
						var duplicatFiles	= errorsAsTxt.replace(',', ', ');

						var $footerError = $('<tr/>')
							.append($('<td/>', {'colspan':3})
								.append($('<span/>', {class:'text-danger'})
									.append($('<b/>').text(duplicatFiles))
									.append(errorType == 'duplicate' ? ' already in the list!' : null)
								)
							)
						;
						$('tfoot').append($footerError);
						errors = [];
					}
				});

			});

			itemForm.on('submit', function(e) {
				$('#bucketlist').val(bucketList);
			});

			var jsDelete = $('.js-delete');
			jsDelete.click(function(e) {
				e.preventDefault();

				var id 		= $(this).data('id'),
					file 	= $(this).data('file');

				removeRowImage(id, file);
			});

			function readURL(input, imgId) {
			    if (input) {
			        var reader = new FileReader();

			        reader.onload = function (e) {
			            $('#'+imgId+' img').attr('src', e.target.result);
			            $('#'+imgId+' .title').text(input.name);
			            $('#'+imgId+' .size').text(bytesToSize(input.size));
			        }
			        reader.readAsDataURL(input);

			        bucketList.push(input.name);
			    }
			}

			function bytesToSize(bytes) {
			   var sizes = ['b', 'kb', 'mb'];
			   if (bytes == 0) return '0 Byte';
			   var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
			   return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
			};

			function removeRowImage(rowId, file) {
				$('#'+rowId).remove();
				if (previewTable.children().length == 0) {
					previewTable.addClass('hidden');
				}

				bucketList.splice($.inArray(file, bucketList), 1);
			}
		});
	</script>
{% endblock %}