{% extends 'template/base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block  mainContent %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
	                        <h4 class="card-title">Items Given</h4>
	                        <p class="category">A list of items you've given</p>
                            <hr>
                        </div>
                        <div class="card-content table-full-width">
                			{% if items|length %}
	                            <table class="table table-striped">
	                                <thead>
	                                    <tr>
	                                        <th class="text-center">#</th>
	                                        <th>Name</th>
	                                        <th>Job Position</th>
	                                        <th class="text-right">Salary</th>
	                                        <th class="text-right">Active</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	{% for item in items %}
		                                    <tr>
		                                        <td class="text-center">1</td>
		                                        <td>Andrew Mike</td>
		                                        <td>Develop</td>
		                                        <td class="text-right">&euro; 99,225</td>
		                                         <td class="text-right">
														<input type="checkbox" class="switch-plain">
		                                        </td>
		                                    </tr>
	                                   	{% endfor %}
	                                </tbody>
	                            </table>
							{% else %}
								<div class="card-content">
									<div class="text-danger">List is currently empty!</div>
								</div>
							{% endif %}
						</div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}