{% extends 'template/base.html.twig' %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block  mainContent %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">

					{% if app.session.flashBag.has('success') %}
						<div class="alert alert-success">
							{% for msg in app.session.flashBag.get('success') %}
								{{ msg }}
							{% endfor %}
						</div>
					{% endif %}

                    <div class="card">
                        <div class="card-header">
	                        <div class="pull-left">
	                        	<h4 class="card-title">Active Items</h4>
	                            <p class="category">A list of your current and active items</p>
	                        </div>
                            <div class="pull-right">
                            	<a href="{{ path('item_new') }}" class="btn btn-info btn-fill btn-rotate">Add Item</a>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                        </div>
                        <div class="card-content table-full-width">
                			{% if items|length %}
	                            <table class="table table-files">
						            <thead>
						                <tr>
						                    <th class="text-center">Image</th>
						                    <th>Item Name</th>
						                    <th>Status</th>
						                    <th class="text-right">Actions</th>
						                </tr>
						            </thead>
						            <tbody>
							        	{% for item in items if items|length %}
							        		<tr id="itemrow-{{ item.id }}">
							                    <td>
							                        <div class="img-container">
							                            <img src="{{ asset(item.imageThumb) }}" alt="">
							                        </div>
							                    </td>
							                    <td class="td-product">
							                        <strong>{{ item.name }}</strong>
							                        <p>{{ item.description|truncate(50) }}</p>
							                    </td>
							                    <td>
							                    	{% set status = item.statusName(item.status) %}
							                    	{% if status == 'Active' %}
							                       		<span class="label label-success">{{ status }}</span> 
							                    	{% elseif status == 'Draft' %}
							                       		<span class="label label-primary">{{ status }}</span> 
							                    	{% endif %}
							                    </td>
							                     <td class="td-actions text-right">
	                                                <a href="{{ path('item_edit', {id:item.id}) }}" rel="tooltip" title="Edit Item" class="btn btn-success">
	                                                    <i class="ti-pencil-alt"></i>
	                                                </a>
	                                                <a href="#" rel="tooltip" title="Remove Item" class="btn btn-danger js-delete" data-id="{{ item.id }}" data-name="{{ item.name }}">
	                                                    <i class="ti-close"></i>
	                                                </a>
	                                            </td>
							                </tr>
							            {% else %}
							            	<div class="text-info">There are no items in this category.</div>
							           	{% endfor %}
						            </tbody>
						        </table>
							{% else %}
								<div class="card-content">
									<div class="text-danger">List is currently empty!</div>
								</div>
							{% endif %}
						</div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(function() {
			var jsDelete = $('.js-delete');

			jsDelete.click(function(e) {
				e.preventDefault();

				var id 		= $(this).data('id'),
					name 	= $(this).data('name');

				swal({
					title: "Confirm Delete",
					text: "Are you sure you want to delete item :<br/><strong>" + name + "</strong>?",
					type: "warning",
					html: true,
					showCancelButton: true,
					closeOnConfirm: false,
					showLoaderOnConfirm: true,
				},
					function(){
						$.post("{{ path('item_delete') }}", {id: id})
						.done(function(msg) {
							swal.close();
							console.log(msg);

							$('#itemrow-'+id).remove();
							var fileTableBody = $('.table-files tbody').children();
							
							if (fileTableBody.length == 0) {
								$('.table-files').remove();

								$('.card-content').append($('<div/>', {class:'container'})
									.append($('<p/>', {'class':'text-danger'}).text('Items list empty!'))
								);
							}
						})
						.fail(function(xhr, status, error) {
							console.log(xhr);
						});
					}
				);
			});
		});
	</script>
{% endblock %}