<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-icon.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon.png') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>TodosLibre</title>

	<!-- Canonical SEO -->
    <link rel="canonical" href="#"/>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--  Social tags      -->
    <meta name="keywords" content="c#">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="TodosLibre">
    <meta itemprop="description" content="">

    <meta itemprop="image" content="#">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Paper Dashboard PRO by Creative Tim">
    <meta name="twitter:description" content="Paper Dashboard PRO is a beautiful Bootstrap admin dashboard with a large number of components, designed to look neat and organised.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="#">

    <!-- Open Graph data -->
    <meta property="og:title" content="TodosLibre" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="#" />
    <meta property="og:image" content="#"/>
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />

     <!-- Bootstrap core CSS     -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />

    <!--  Paper Dashboard core CSS    -->
    <link href="{{ asset('css/paper-dashboard-v=1.2.1.css') }}" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="{{ asset('libs/fontawesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{{ asset('libs/sweetalert/sweetalert.css') }}" rel="stylesheet">
    <link href="{{ asset('css/themify-icons.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}

</head>

<body>

	<div class="wrapper">
        {% include('widgets/sidebar.html.twig') %}

		<div class="main-panel">
			<nav class="navbar navbar-default">
	            <div class="container-fluid">
					<div class="navbar-minimize">
						<button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
					</div>
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar bar1"></span>
	                        <span class="icon-bar bar2"></span>
	                        <span class="icon-bar bar3"></span>
	                    </button>
	                    <a class="navbar-brand" href="calendar.html#calendar">{% block pageTitle %}{% endblock %}</a>
	                </div>
	                <div class="collapse navbar-collapse">
						<form class="navbar-form navbar-left navbar-search-form" role="search">
	    					<div class="input-group">
	    						<span class="input-group-addon"><i class="fa fa-search"></i></span>
	    						<input type="text" value="" class="form-control" placeholder="Search...">
	    					</div>
	    				</form>
	                    <ul class="nav navbar-nav navbar-right">
	                        <li>
	                            <a href="calendar.html#stats" class="dropdown-toggle btn-magnify" data-toggle="dropdown">
	                                <i class="ti-panel"></i>
									<p>Stats</p>
	                            </a>
	                        </li>
	                        <li class="dropdown">
	                            <a href="calendar.html#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">
	                                <i class="ti-bell"></i>
	                                <span class="notification">5</span>
									<p class="hidden-md hidden-lg">
										Notifications
										<b class="caret"></b>
									</p>
	                            </a>
	                            <ul class="dropdown-menu">
	                                <li><a href="calendar.html#not1">Notification 1</a></li>
	                                <li><a href="calendar.html#not2">Notification 2</a></li>
	                                <li><a href="calendar.html#not3">Notification 3</a></li>
	                                <li><a href="calendar.html#not4">Notification 4</a></li>
	                                <li><a href="calendar.html#another">Another notification</a></li>
	                            </ul>
	                        </li>
							<li>
	                            <a href="calendar.html#settings" class="btn-rotate">
									<i class="ti-settings"></i>
									<p class="hidden-md hidden-lg">
										Settings
									</p>
	                            </a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </nav>

		{% block mainContent %}{% endblock %}

		</div>
    </div>

    {% block modals %}{% endblock %}
    	
</body>

	<!--   Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js') }}   -->
	<script src="{{ asset('js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/perfect-scrollbar.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>

	<!--  Forms Validations Plugin -->
	<script src="{{ asset('js/jquery.validate.min.js') }}"></script>

	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
	<script src="{{ asset('js/moment.min.js') }}"></script>

	<!--  Date Time Picker Plugin is included in this js file -->
	<script src="{{ asset('js/bootstrap-datetimepicker.js') }}"></script>

	<!--  Select Picker Plugin -->
	<script src="{{ asset('js/bootstrap-selectpicker.js') }}"></script>

	<!--  Switch and Tags Input Plugins -->
	<script src="{{ asset('js/bootstrap-switch-tags.js') }}"></script>

	<!--  Notifications Plugin    -->
	<script src="{{ asset('js/bootstrap-notify.js') }}"></script>

	<!-- Sweet Alert 2 plugin -->
	<script src="{{ asset('libs/sweetalert/sweetalert.min.js') }}"></script>

	<!-- Wizard Plugin    -->
	<script src="{{ asset('js/jquery.bootstrap.wizard.min.js') }}"></script>

	<!--  Bootstrap Table Plugin    -->
	<script src="{{ asset('js/bootstrap-table.js') }}"></script>

	<!--  Plugin for DataTables.net  -->
	<script src="{{ asset('js/jquery.datatables.js') }}"></script>

	<!--  Full Calendar Plugin    -->
	<script src="{{ asset('js/fullcalendar.min.js') }}"></script>

	<!-- Paper Dashboard PRO Core javascript and methods for Demo purpose -->
	<script src="{{ asset('js/paper-dashboard-v=1.2.1.js') }}"></script>

    <!--   Sharrre Library    -->
    <script src="{{ asset('js/jquery.sharrre.js') }}"></script>

	{% block javascripts %}{% endblock %}

</html>
